h1{
    text-align: center;
    background-color: rgb(152, 152, 152);
}
.NE{
    text-align: center;
    width:1250px;
}
.NE1{
    text-align:center;
    width:1250px;
    border:#111 3px solid ;
}