.row1{
    display: inline-block;
  }
  .button{
    text-align:right;
    width:1250px;
    font-size: 20px;
  }
  .checked {
    color: orange;
}
.more{
    text-align:center;
    width:1250px;
    font-size: 20px;
  }
#more{
    background-color: #adadad;
    border:2px black solid;
}
#td1{
    text-align:center;
    width:600px;
    font-size: 20px
}
#td2{
    text-align:center;
    width:600px;
    font-size: 20px
}